#arc {
    background-color: #E3D5CA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#arc p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    text-decoration: none;
}

#arc a {
    text-decoration: none;
}

#arc a:hover {
    opacity: 0.5;
}

#bates {
    height: 200px;
    width: 200px;
}