#aboutme {
    background-color: #F5EBE0;
    padding-bottom: 50px;
}

.aboutme2 {
    padding-top: 15px;
    padding-bottom: 30px;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.aboutme2 p {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}